# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignored by user
bin/        # binaries are to be built by CI pipeline, but allowed in local environment/IDE
target/     # target packages are to be built by CI Pipeline, but allowed in local environment/IDE
.project    # config file created by VSCODE IDE